.CandidateFormWrapper {
    .ant-form {
        padding: 1.5rem;

        .btnRow {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}